name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Ms-Njuguna
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Africa/Nairobi
          # This ensures it saves locally to your repo
          output_action: commit
          committer_gist: ${{ ignore }}
